table thead th, table tbody tr td{
    white-space: nowrap;
}
.width-100{
    width: 100px;
}
.width-120{
    width: 120px;
}
.width-130{
    width: 130px;
}
.width-140{
    width: 140px;
}
.width-150{
    width: 150px;
}
.width-320{
    width: 320px;
}
.width-50{
    width: 50px;
}
.overhidden{
    overflow: hidden;
}