/node_modules
/public/hot
/public/fonts
/public/storage
/public/js/app.js
/public/js/vendor.js
/public/js/manifest.js
/public/css/app.css
/public/static/files/
/public/static/upload/
/public/static/doc/pdf/
/public/static/doc/img/
/public/static/doc/docx/
/public/static/doc/xlsx/
/public/static/img/photos/
/public/static/img/avatars/users/
/public/static/img/avatars/teachers/
/public/images/vendor/flag-icon-css/flags/*
/public/mix-manifest.json
/public/sw.js
/storage/*.key
/vendor
/.vs
/.idea
/.vscode
/.vagrant
/.phpintel
*.temp
dist/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
Thumbs.db
package-lock.*
*.lock
*.sh
*.py
/public/cyber.php
/public/static/*
